<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Trayek</ion-title>
    <ion-button slot="end" fill="clear" (click)="cerrarSesion()">Cerrar sesión</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Cambiar contraseña</h1>
  <p class="lead">Debe definir una nueva contraseña para continuar.</p>

  <form [formGroup]="form" (ngSubmit)="enviar()">
    <ion-list>
      <ion-item>
        <ion-input
          type="password"
          label="Contraseña actual"
          labelPlacement="stacked"
          formControlName="passwordActual"
          autocomplete="current-password"
        />
      </ion-item>
      <ion-item>
        <ion-input
          type="password"
          label="Nueva contraseña"
          labelPlacement="stacked"
          formControlName="passwordNueva"
          autocomplete="new-password"
        />
      </ion-item>
      <ion-item>
        <ion-input
          type="password"
          label="Confirmar nueva contraseña"
          labelPlacement="stacked"
          formControlName="confirmarPassword"
          autocomplete="new-password"
        />
      </ion-item>
    </ion-list>

    @if (form.controls.passwordActual.touched && form.controls.passwordActual.invalid) {
      <ion-note color="danger">La contraseña actual es obligatoria.</ion-note>
    }
    @if (form.touched && form.hasError('confirmar')) {
      <ion-note color="danger">Las contraseñas no coinciden.</ion-note>
    }
    @if (form.controls.passwordNueva.touched && form.controls.passwordNueva.invalid) {
      <ion-note color="danger">{{ mensajePolitica }}</ion-note>
    }
    @if (error()) {
      <ion-note color="danger">{{ error() }}</ion-note>
    }

    <ion-button expand="block" type="submit" [disabled]="enviando()">
      @if (enviando()) {
        <ion-spinner name="crescent" />
      } @else {
        Guardar contraseña
      }
    </ion-button>
  </form>
</ion-content>
